
.navbar {
    padding: 0;
    background-color: #243748;
}
.container-fluid {
    background-color: #005095;
    padding: 1em 0 1em 1em;
}

.nav-link {
    color: #fff; 
}

.navbar-toggler {
    border: none;
    outline: none;
}

.btn {
    background-color: #FFAB4B;
}