.btn {
    background-color: #243748;
    color: #90A6A3;
}

.navbar {
    padding: 0;
    background-color: #243748;
}
.container-fluid {
    background-color: #3C5B77;
    padding: 1em 0 1em 1em;
}

.nav-link {
    color: #90A6A3; 
}

.navbar-toggler {
    border: none;
    outline: none;
}
